.App {
  text-align: center;
}

.title {
  color: magenta;
  margin-bottom: 5rem;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats-div {
  border: 2px solid lightseagreen;
  width: 30%;
  margin: 0 0 2rem 0rem;
  
}

.dark-mode__toggle {
  background: mediumaquamarine;
  /* border-radius: 50px; */
  border: 1px solid black;
  height: 20px;
  margin: 1rem 0 0 4rem;
  position: relative;
  width: 4.3rem;
}

.toggle {
  background: white;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 3rem;
  color: rgb(90, 11, 90);
  font-size: .8rem;
  border: 1px solid magenta;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}